configuration_files_for_text_editors/emacs_configuration_files/.emacs.d/easymacs/TEI/p5-schema/analysis.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<!--Schema generated 2007-03-13T16:02:29Z..
Copyright 2005 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
To contact the TEI Consortium use the following addresses.
	    For general (non-technical) enquiries: 
		  target="mailto:info@tei-c.org"/>info@tei-c.orgFor membership enquiries: membership@tei-c.orgFor technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C: editors@tei-c.orgFor up to date information, consult the TEI web site at http://www.tei-c.org/P5Simple analytic mechanisms-->
<!--Definitions from module analysis-->
<!--Set global predeclared macros-->
<!--Set predeclared macros-->
<!--0. predeclared macros-->
<!--1. classes-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.global.analytic.attributes">
    <ref name="att.global.analytic.attribute.ana"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.global.analytic.attribute.ana">
    <optional>
      <attribute name="ana">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates one or more elements containing interpretations of the
element on which the ana attribute appears.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
  </define>
<!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="c">
    <element name="c">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(character) represents a character.</a:documentation>
      <ref name="c.content"/>
      <ref name="c.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="c.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.xtext"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="c.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.segLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="cl">
    <element name="cl">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(clause) represents a grammatical clause.</a:documentation>
      <ref name="cl.content"/>
      <ref name="cl.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="cl.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="cl.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.segLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interp">
    <element name="interp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(interpretation) summarizes a specific interpretative annotation which can be
linked to a span of text.</a:documentation>
      <ref name="interp.content"/>
      <ref name="interp.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interp.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interp.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.interpLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interpGrp">
    <element name="interpGrp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(interpretation group) collects together a set of related interpretations which share
responsibility or type.</a:documentation>
      <ref name="interpGrp.content"/>
      <ref name="interpGrp.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interpGrp.content">
    <oneOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:ref name="interp"/>
    </oneOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interpGrp.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.interpLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="m">
    <element name="m">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(morpheme) represents a grammatical morpheme.</a:documentation>
      <ref name="m.content"/>
      <ref name="m.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="m.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.blockLike"/>
        <rng:ref name="c"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="m.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.segLike.attributes"/>
    <optional>
      <attribute name="baseForm">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the morpheme's base form.</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="phr">
    <element name="phr">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(phrase) represents a grammatical phrase.</a:documentation>
      <ref name="phr.content"/>
      <ref name="phr.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="phr.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="phr.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.segLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="s">
    <element name="s">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(s-unit) contains a sentence-like division of a text.</a:documentation>
      <ref name="s.content"/>
      <ref name="s.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="s.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="s.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.segLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="span">
    <element name="span">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(span) associates an interpretative annotation directly with a span
  of text.</a:documentation>
      <ref name="span.content"/>
      <ref name="span.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="span.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="span.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.interpLike.attributes"/>
    <attribute name="from">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the beginning of the passage being annotated; if
      not accompanied by a to attribute, then specifies the
      entire passage.</a:documentation>
      <ref name="data.pointer"/>
    </attribute>
    <optional>
      <attribute name="to">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the end of the passage being annotated.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="spanGrp">
    <element name="spanGrp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(span group) collects together span tags.</a:documentation>
      <ref name="spanGrp.content"/>
      <ref name="spanGrp.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="spanGrp.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:ref name="span"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="spanGrp.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.interpLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="w">
    <element name="w">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(word) represents a grammatical (not necessarily orthographic) word.</a:documentation>
      <ref name="w.content"/>
      <ref name="w.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="w.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.blockLike"/>
        <rng:ref name="w"/>
        <rng:ref name="m"/>
        <rng:ref name="c"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="w.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.segLike.attributes"/>
    <optional>
      <attribute name="lemma">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the word's lemma (dictionary entry form).</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
    <empty/>
  </define>
<!--3. macros-->
</rng:grammar>
