configuration_files_for_text_editors/emacs_configuration_files/.emacs.d/easymacs/TEI/p5-schema/corpus.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<!--Schema generated 2007-03-13T16:02:29Z..
Copyright 2005 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
To contact the TEI Consortium use the following addresses.
	    For general (non-technical) enquiries: 
		  target="mailto:info@tei-c.org"/>info@tei-c.orgFor membership enquiries: membership@tei-c.orgFor technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C: editors@tei-c.orgFor up to date information, consult the TEI web site at http://www.tei-c.org/P5Header extensions for corpus texts-->
<!--Definitions from module corpus-->
<!--Set global predeclared macros-->
<!--Set predeclared macros-->
<!--0. predeclared macros-->
<!--1. classes-->
<!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="activity">
    <element name="activity">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a brief informal description of what a participant in a
language interaction is doing other than speaking, if anything.</a:documentation>
      <ref name="activity.content"/>
      <ref name="activity.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="activity.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="activity.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="channel">
    <element name="channel">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(primary channel) describes the medium or channel by which a text is delivered or
experienced. For a written text, this might be print, manuscript, e-mail, etc.;
for a spoken one, radio, telephone, face-to-face, etc.</a:documentation>
      <ref name="channel.content"/>
      <ref name="channel.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="channel.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="channel.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="mode" a1:defaultValue="x">
        <a1:documentation>specifies the mode of this channel with respect to speech and
         writing.
   </a1:documentation>
        <choice>
          <value>s</value>
          <a1:documentation>(spoken
   ) </a1:documentation>
          <value>w</value>
          <a1:documentation>(written
   ) </a1:documentation>
          <value>sw</value>
          <a1:documentation>(spoken to be written (e.g. dictation)
   ) </a1:documentation>
          <value>ws</value>
          <a1:documentation>(written to be spoken (e.g. a script)
   ) </a1:documentation>
          <value>m</value>
          <a1:documentation>(mixed modes
   ) </a1:documentation>
          <value>x</value>
          <a1:documentation>(unknown or inapplicable
   ) </a1:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="constitution">
    <element name="constitution">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the internal composition of a text or text sample,
for example
as fragmentary, complete, etc.</a:documentation>
      <ref name="constitution.content"/>
      <ref name="constitution.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="constitution.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="constitution.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="type" a1:defaultValue="single">
        <a1:documentation>specifies how the text was constituted.
   </a1:documentation>
        <choice>
          <value>single</value>
          <a1:documentation>(a single complete text
    ) </a1:documentation>
          <value>composite</value>
          <a1:documentation>(a text made by combining several smaller
             items, each individually complete
    ) </a1:documentation>
          <value>frags</value>
          <a1:documentation>(a text made by combining several smaller, not
             necessarily complete, items
    ) </a1:documentation>
          <value>unknown</value>
          <a1:documentation>(composition unknown or unspecified
   ) </a1:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="derivation">
    <element name="derivation">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the nature and extent of originality of this text.</a:documentation>
      <ref name="derivation.content"/>
      <ref name="derivation.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="derivation.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="derivation.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the derivation of the text.
Sample values include: 1] original (text is original
        ); 2] revision (text is a revision of some other text
        ); 3] translation (text is a translation of some other text
        ); 4] abridgment (text is an abridged version of some other text
        ); 5] plagiarism (text is plagiarized from some other text
        ); 6] traditional (text has no obvious source but is one of a
        number derived from some common ancestor
    )</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="domain">
    <element name="domain">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Domain of use) describes the most important social context in which the text was
realized or for which it is intended, for example private vs. public,
education, religion, etc.</a:documentation>
      <ref name="domain.content"/>
      <ref name="domain.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="domain.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="domain.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the domain of use.
Sample values include: 1] art (art and entertainment
    ); 2] domestic (domestic and private
    ); 3] religious (religious and ceremonial
    ); 4] business (business and work place
    ); 5] education (education
    ); 6] govt (government and law
    ); 7] public (other forms of public context
   )</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="factuality">
    <element name="factuality">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the extent to which the text may be regarded as
imaginative or non-imaginative, that is, as describing a fictional
or a non-fictional world. </a:documentation>
      <ref name="factuality.content"/>
      <ref name="factuality.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="factuality.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="factuality.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the factuality of the text.
   </a:documentation>
        <choice>
          <value>fiction</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(the text is to be regarded as entirely imaginative
  ) </a:documentation>
          <value>fact</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(the text is to be regarded as entirely informative or factual
  ) </a:documentation>
          <value>mixed</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(the text contains a mixture of fact and fiction
  ) </a:documentation>
          <value>inapplicable</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(the fiction/fact distinction is not regarded
    as helpful or appropriate to this text
   ) </a:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="firstLang">
    <element name="firstLang">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(First language) specifies the first language of a participant.</a:documentation>
      <ref name="firstLang.content"/>
      <ref name="firstLang.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="firstLang.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="firstLang.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interaction">
    <element name="interaction">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the extant, cardinality and nature of any interaction
among those producing and experiencing the text, for example in the
form of response or interjection, commentary etc.</a:documentation>
      <ref name="interaction.content"/>
      <ref name="interaction.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interaction.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="interaction.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the degree of interaction between
  active and passive participants in the text. </a:documentation>
        <choice>
          <value>none</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(no interaction of any kind, e.g. a monologue ) </a:documentation>
          <value>partial</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(some degree of interaction, e.g. a monologue with set responses ) </a:documentation>
          <value>complete</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(complete interaction, e.g. a face to face conversation ) </a:documentation>
          <value>inapplicable</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(this parameter is inappropriate or inapplicable in this case ) </a:documentation>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="active">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the number of active participants
   (or addressors) producing parts of the text. 
Suggested values include: 1] singular (a single addressor ); 2] plural (many addressors ); 3] corporate (a corporate addressor ); 4] unknown (number of addressors unknown or unspecifiable )</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="passive">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the number of passive participants
   (or addressees) to whom a text is directed
   or in whose presence it is created or performed.
Suggested values include: 1] self (text is addressed to the originator e.g. a diary ); 2] single (text is addressed to one other person e.g. a personal letter ); 3] many (text is addressed to a countable number of others
    e.g. a conversation in which all participants are identified ); 4] group (text is addressed to an undefined but fixed
    number of participants  e.g. a lecture ); 5] world (text is addressed to an undefined and indeterminately
    large number e.g. a published book )</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="locale">
    <element name="locale">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a brief informal description of the nature of a
place for example a room, a restaurant, a park bench etc.</a:documentation>
      <ref name="locale.content"/>
      <ref name="locale.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="locale.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="locale.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="particDesc">
    <element name="particDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(participation description) describes the identifiable speakers, voices, or other participants
in a linguistic interaction. </a:documentation>
      <ref name="particDesc.content"/>
      <ref name="particDesc.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="particDesc.content">
    <choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:oneOrMore>
        <rng:ref name="model.personLike"/>
      </rng:oneOrMore>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="particDesc.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.declarable.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="preparedness">
    <element name="preparedness">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the extent to which a text may be regarded as
prepared or spontaneous. </a:documentation>
      <ref name="preparedness.content"/>
      <ref name="preparedness.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="preparedness.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="preparedness.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a keyword characterizing the type of preparedness.
Sample values include: 1] none (spontaneous or unprepared
        ); 2] scripted (follows a script
        ); 3] formulaic (follows a predefined set of conventions
        ); 4] revised (polished or revised before presentation
   )</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="purpose">
    <element name="purpose">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes a single purpose or communicative function of the
text.</a:documentation>
      <ref name="purpose.content"/>
      <ref name="purpose.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="purpose.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="purpose.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a particular kind of purpose.
Suggested values include: 1] persuade (didactic, advertising, propaganda, etc.
  ); 2] express (self expression, confessional, etc.
  ); 3] inform (convey information, educate, etc.
  ); 4] entertain (amuse, entertain, etc.
   )</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="degree">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the extent to which this purpose predominates.</a:documentation>
        <choice>
          <value>high</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(this purpose is predominant
  ) </a:documentation>
          <value>medium</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(this purpose is intermediate
  ) </a:documentation>
          <value>low</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(this purpose is weak
  ) </a:documentation>
          <value>unknown</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(extent unknown
   ) </a:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="setting">
    <element name="setting">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(setting) describes one particular setting in which a language
  interaction takes place.</a:documentation>
      <ref name="setting.content"/>
      <ref name="setting.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="setting.content">
    <choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.nameLike.agent"/>
          <rng:ref name="model.dateLike"/>
          <rng:ref name="model.settingPart"/>
        </rng:choice>
      </rng:zeroOrMore>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="setting.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.ascribed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="settingDesc">
    <element name="settingDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(setting description) describes the setting or settings within which a language
interaction takes place, either as a prose description or as a
series of setting elements.</a:documentation>
      <ref name="settingDesc.content"/>
      <ref name="settingDesc.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="settingDesc.content">
    <choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:oneOrMore>
        <rng:ref name="setting"/>
      </rng:oneOrMore>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="settingDesc.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.declarable.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="textDesc">
    <element name="textDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(text description) provides a description of a text in terms of its
situational parameters.</a:documentation>
      <ref name="textDesc.content"/>
      <ref name="textDesc.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="textDesc.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:ref name="model.textDescPart_sequence"/>
      <rng:oneOrMore>
        <rng:ref name="purpose"/>
      </rng:oneOrMore>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="textDesc.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.declarable.attributes"/>
    <empty/>
  </define>
<!--3. macros-->
</rng:grammar>
