configuration_files_for_text_editors/emacs_configuration_files/.emacs.d/easymacs/TEI/p5-schema/corpus.rnc

namespace a1 = "http://relaxng.org/ns/compatibility/annotations/1.0"
namespace rng = "http://relaxng.org/ns/structure/1.0"

# Schema generated 2007-03-13T16:02:29Z..
# Copyright 2005 TEI Consortium.
# This is free software; you can redistribute it and/or
#	    modify it under the terms of the GNU General Public
#	    License as published by the Free Software Foundation;
#	    either version 2 of the License, or (at your option) any
#	    later version.
# This material is distributed in the hope that it will be
#	    useful, but WITHOUT ANY WARRANTY; without even the implied
#	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
#	    PURPOSE. See the GNU General Public License for more
#	    details.
# You should have received a copy of the GNU General Public
#	    License along with this file; if not, write to the Free
#	    Software Foundation, Inc., 59 Temple Place, Suite 330,
#	    Boston, MA 02111-1307, USA.
# To contact the TEI Consortium use the following addresses.
#	    For general (non-technical) enquiries: 
#		  target="mailto:info@tei-c.org"/>info@tei-c.orgFor membership enquiries: membership@tei-c.orgFor technical enquiries, particularly about the
#		Guidelines, DTDs, schemas, or software available from
#		the TEI-C: editors@tei-c.orgFor up to date information, consult the TEI web site at http://www.tei-c.org/P5Header extensions for corpus texts

# Definitions from module corpus

# Set global predeclared macros

# Set predeclared macros

# 0. predeclared macros

# 1. classes

# 2. elements

activity =
  ## contains a brief informal description of what a participant in a
  ## language interaction is doing other than speaking, if anything.
  element activity { activity.content, activity.attributes }
activity.content = macro.phraseSeq
activity.attributes = att.global.attributes, empty

channel =
  ## (primary channel) describes the medium or channel by which a text is delivered or
  ## experienced. For a written text, this might be print, manuscript, e-mail, etc.;
  ## for a spoken one, radio, telephone, face-to-face, etc.
  element channel { channel.content, channel.attributes }
channel.content = macro.phraseSeq
channel.attributes =
  att.global.attributes,
  ## specifies the mode of this channel with respect to speech and
  ##          writing.
  [ a1:defaultValue = "x" ]
  attribute mode {
    ## (spoken
    ##    ) 
    "s" | ## (written
      ##    ) 
      "w" | ## (spoken to be written (e.g. dictation)
      ##    ) 
      "sw" | ## (written to be spoken (e.g. a script)
      ##    ) 
      "ws" | ## (mixed modes
      ##    ) 
      "m" | ## (unknown or inapplicable
      ##    ) 
      "x"
  }?,
  empty

constitution =
  ## describes the internal composition of a text or text sample,
  ## for example
  ## as fragmentary, complete, etc.
  element constitution { constitution.content, constitution.attributes }
constitution.content = macro.phraseSeq
constitution.attributes =
  att.global.attributes,
  ## specifies how the text was constituted.
  [ a1:defaultValue = "single" ]
  attribute type {
    ## (a single complete text
    ##     ) 
    "single" | ## (a text made by combining several smaller
      ##              items, each individually complete
      ##     ) 
      "composite" | ## (a text made by combining several smaller, not
      ##              necessarily complete, items
      ##     ) 
      "frags" | ## (composition unknown or unspecified
      ##    ) 
      "unknown"
  }?,
  empty

derivation =
  ## describes the nature and extent of originality of this text.
  element derivation { derivation.content, derivation.attributes }
derivation.content = macro.phraseSeq
derivation.attributes =
  att.global.attributes,
  ## categorizes the derivation of the text.
  ## Sample values include: 1] original (text is original
  ##         ); 2] revision (text is a revision of some other text
  ##         ); 3] translation (text is a translation of some other text
  ##         ); 4] abridgment (text is an abridged version of some other text
  ##         ); 5] plagiarism (text is plagiarized from some other text
  ##         ); 6] traditional (text has no obvious source but is one of a
  ##         number derived from some common ancestor
  ##     )
  attribute type { data.enumerated }?,
  empty

domain =
  ## (Domain of use) describes the most important social context in which the text was
  ## realized or for which it is intended, for example private vs. public,
  ## education, religion, etc.
  element domain { domain.content, domain.attributes }
domain.content = macro.phraseSeq
domain.attributes =
  att.global.attributes,
  ## categorizes the domain of use.
  ## Sample values include: 1] art (art and entertainment
  ##     ); 2] domestic (domestic and private
  ##     ); 3] religious (religious and ceremonial
  ##     ); 4] business (business and work place
  ##     ); 5] education (education
  ##     ); 6] govt (government and law
  ##     ); 7] public (other forms of public context
  ##    )
  attribute type { data.enumerated }?,
  empty

factuality =
  ## describes the extent to which the text may be regarded as
  ## imaginative or non-imaginative, that is, as describing a fictional
  ## or a non-fictional world. 
  element factuality { factuality.content, factuality.attributes }
factuality.content = macro.phraseSeq
factuality.attributes =
  att.global.attributes,
  ## categorizes the factuality of the text.
  attribute type {
    ## (the text is to be regarded as entirely imaginative
    ##   ) 
    "fiction" | ## (the text is to be regarded as entirely informative or factual
      ##   ) 
      "fact" | ## (the text contains a mixture of fact and fiction
      ##   ) 
      "mixed" | ## (the fiction/fact distinction is not regarded
      ##     as helpful or appropriate to this text
      ##    ) 
      "inapplicable"
  }?,
  empty

firstLang =
  ## (First language) specifies the first language of a participant.
  element firstLang { firstLang.content, firstLang.attributes }
firstLang.content = macro.phraseSeq
firstLang.attributes = att.global.attributes, empty

interaction =
  ## describes the extant, cardinality and nature of any interaction
  ## among those producing and experiencing the text, for example in the
  ## form of response or interjection, commentary etc.
  element interaction { interaction.content, interaction.attributes }
interaction.content = macro.phraseSeq
interaction.attributes =
  att.global.attributes,
  ## specifies the degree of interaction between
  ##   active and passive participants in the text. 
  attribute type {
    ## (no interaction of any kind, e.g. a monologue ) 
    "none" | ## (some degree of interaction, e.g. a monologue with set responses ) 
      "partial" | ## (complete interaction, e.g. a face to face conversation ) 
      "complete" | ## (this parameter is inappropriate or inapplicable in this case ) 
      "inapplicable"
  }?,
  ## specifies the number of active participants
  ##    (or addressors) producing parts of the text. 
  ## Suggested values include: 1] singular (a single addressor ); 2] plural (many addressors ); 3] corporate (a corporate addressor ); 4] unknown (number of addressors unknown or unspecifiable )
  attribute active { data.enumerated }?,
  ## specifies the number of passive participants
  ##    (or addressees) to whom a text is directed
  ##    or in whose presence it is created or performed.
  ## Suggested values include: 1] self (text is addressed to the originator e.g. a diary ); 2] single (text is addressed to one other person e.g. a personal letter ); 3] many (text is addressed to a countable number of others
  ##     e.g. a conversation in which all participants are identified ); 4] group (text is addressed to an undefined but fixed
  ##     number of participants  e.g. a lecture ); 5] world (text is addressed to an undefined and indeterminately
  ##     large number e.g. a published book )
  attribute passive { data.enumerated }?,
  empty

locale =
  ## contains a brief informal description of the nature of a
  ## place for example a room, a restaurant, a park bench etc.
  element locale { locale.content, locale.attributes }
locale.content = macro.phraseSeq
locale.attributes = att.global.attributes, empty

particDesc =
  ## (participation description) describes the identifiable speakers, voices, or other participants
  ## in a linguistic interaction. 
  element particDesc { particDesc.content, particDesc.attributes }
particDesc.content = model.pLike+ | model.personLike+
particDesc.attributes =
  att.global.attributes, att.declarable.attributes, empty

preparedness =
  ## describes the extent to which a text may be regarded as
  ## prepared or spontaneous. 
  element preparedness { preparedness.content, preparedness.attributes }
preparedness.content = macro.phraseSeq
preparedness.attributes =
  att.global.attributes,
  ## a keyword characterizing the type of preparedness.
  ## Sample values include: 1] none (spontaneous or unprepared
  ##         ); 2] scripted (follows a script
  ##         ); 3] formulaic (follows a predefined set of conventions
  ##         ); 4] revised (polished or revised before presentation
  ##    )
  attribute type { data.enumerated }?,
  empty

purpose =
  ## characterizes a single purpose or communicative function of the
  ## text.
  element purpose { purpose.content, purpose.attributes }
purpose.content = macro.phraseSeq
purpose.attributes =
  att.global.attributes,
  ## specifies a particular kind of purpose.
  ## Suggested values include: 1] persuade (didactic, advertising, propaganda, etc.
  ##   ); 2] express (self expression, confessional, etc.
  ##   ); 3] inform (convey information, educate, etc.
  ##   ); 4] entertain (amuse, entertain, etc.
  ##    )
  attribute type { data.enumerated }?,
  ## specifies the extent to which this purpose predominates.
  attribute degree {
    ## (this purpose is predominant
    ##   ) 
    "high" | ## (this purpose is intermediate
      ##   ) 
      "medium" | ## (this purpose is weak
      ##   ) 
      "low" | ## (extent unknown
      ##    ) 
      "unknown"
  }?,
  empty

setting =
  ## (setting) describes one particular setting in which a language
  ##   interaction takes place.
  element setting { setting.content, setting.attributes }
setting.content =
  model.pLike+
  | (model.nameLike.agent | model.dateLike | model.settingPart)*
setting.attributes =
  att.global.attributes, att.ascribed.attributes, empty

settingDesc =
  ## (setting description) describes the setting or settings within which a language
  ## interaction takes place, either as a prose description or as a
  ## series of setting elements.
  element settingDesc { settingDesc.content, settingDesc.attributes }
settingDesc.content = model.pLike+ | setting+
settingDesc.attributes =
  att.global.attributes, att.declarable.attributes, empty

textDesc =
  ## (text description) provides a description of a text in terms of its
  ## situational parameters.
  element textDesc { textDesc.content, textDesc.attributes }
textDesc.content = model.textDescPart_sequence, purpose+
textDesc.attributes =
  att.global.attributes, att.declarable.attributes, empty
# 3. macros
