configuration_files_for_text_editors/emacs_configuration_files/.emacs.d/easymacs/TEI/p5-schema/dictionaries.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<!--Schema generated 2007-03-13T16:02:29Z..
Copyright 2005 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
To contact the TEI Consortium use the following addresses.
	    For general (non-technical) enquiries: 
		  target="mailto:info@tei-c.org"/>info@tei-c.orgFor membership enquiries: membership@tei-c.orgFor technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C: editors@tei-c.orgFor up to date information, consult the TEI web site at http://www.tei-c.org/P5Printed dictionaries-->
<!--Definitions from module dictionaries-->
<!--Set global predeclared macros-->
<!--Set predeclared macros-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="mix.dictionaries" combine="choice">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="model.entryLike"/>
  </define>
<!--0. predeclared macros-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="mix.dictionaries" combine="choice">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="model.entryLike"/>
  </define>
<!--1. classes-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryLike">
    <choice>
      <ref name="superEntry"/>
      <ref name="entry"/>
      <ref name="entryFree"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryLike_sequence">
    <ref name="superEntry"/>
    <ref name="entry"/>
    <ref name="entryFree"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryLike_sequenceOptional">
    <optional>
      <ref name="superEntry"/>
    </optional>
    <optional>
      <ref name="entry"/>
    </optional>
    <optional>
      <ref name="entryFree"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="superEntry"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="entry"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="entryFree"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="superEntry"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="entry"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="entryFree"/>
    </oneOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.entryLike.attributes">
    <ref name="att.entryLike.attribute.type"/>
    <ref name="att.entryLike.attribute.sortKey"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.entryLike.attribute.type">
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="type" a1:defaultValue="main">
        <a1:documentation>indicates type of entry, in dictionaries with multiple types.
Suggested values include: 1] main (a main entry (default).); 2] hom (a homograph with a separate entry.); 3] xref (a reduced entry whose only function is to point to another main entry
                        (e.g. for forms of an irregular verb or for variant spellings:
                        was pointing to be, or
                        esthete to aesthete).); 4] affix (an entry for a prefix, infix, or suffix.); 5] abbr (an entry for an abbreviation.); 6] supplemental (a supplemental entry (for use in dictionaries which issue supplements to
                        their main work in which they include updated information about entries).); 7] foreign (an entry for a foreign word in a monolingual dictionary.)</a1:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.entryLike.attribute.sortKey">
    <optional>
      <attribute name="sortKey">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a (sortable) character sequence reflecting the entry's alphabetical
                position in the printed dictionary.</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.morphLike">
    <choice>
      <ref name="gram"/>
      <ref name="gen"/>
      <ref name="number"/>
      <ref name="case"/>
      <ref name="per"/>
      <ref name="tns"/>
      <ref name="mood"/>
      <ref name="iType"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.morphLike_sequence">
    <ref name="gram"/>
    <ref name="gen"/>
    <ref name="number"/>
    <ref name="case"/>
    <ref name="per"/>
    <ref name="tns"/>
    <ref name="mood"/>
    <ref name="iType"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.morphLike_sequenceOptional">
    <optional>
      <ref name="gram"/>
    </optional>
    <optional>
      <ref name="gen"/>
    </optional>
    <optional>
      <ref name="number"/>
    </optional>
    <optional>
      <ref name="case"/>
    </optional>
    <optional>
      <ref name="per"/>
    </optional>
    <optional>
      <ref name="tns"/>
    </optional>
    <optional>
      <ref name="mood"/>
    </optional>
    <optional>
      <ref name="iType"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.morphLike_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="gram"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="gen"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="number"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="case"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="per"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tns"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="mood"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="iType"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.morphLike_sequenceRepeatable">
    <oneOrMore>
      <ref name="gram"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="gen"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="number"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="case"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="per"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tns"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="mood"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="iType"/>
    </oneOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.formPart">
    <choice>
      <ref name="form"/>
      <ref name="orth"/>
      <ref name="pron"/>
      <ref name="hyph"/>
      <ref name="syll"/>
      <ref name="model.morphLike"/>
      <ref name="usg"/>
      <ref name="lbl"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.formPart_sequence">
    <ref name="form"/>
    <ref name="orth"/>
    <ref name="pron"/>
    <ref name="hyph"/>
    <ref name="syll"/>
    <ref name="model.morphLike"/>
    <ref name="usg"/>
    <ref name="lbl"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.formPart_sequenceOptional">
    <optional>
      <ref name="form"/>
    </optional>
    <optional>
      <ref name="orth"/>
    </optional>
    <optional>
      <ref name="pron"/>
    </optional>
    <optional>
      <ref name="hyph"/>
    </optional>
    <optional>
      <ref name="syll"/>
    </optional>
    <optional>
      <ref name="model.morphLike"/>
    </optional>
    <optional>
      <ref name="usg"/>
    </optional>
    <optional>
      <ref name="lbl"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.formPart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="form"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="orth"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pron"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="hyph"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="syll"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="model.morphLike"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="usg"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="lbl"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.formPart_sequenceRepeatable">
    <oneOrMore>
      <ref name="form"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="orth"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="pron"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="hyph"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="syll"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="model.morphLike"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="usg"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="lbl"/>
    </oneOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.gramPart">
    <choice>
      <ref name="model.morphLike"/>
      <ref name="gramGrp"/>
      <ref name="pos"/>
      <ref name="subc"/>
      <ref name="colloc"/>
      <ref name="usg"/>
      <ref name="lbl"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.gramPart_sequence">
    <ref name="model.morphLike"/>
    <ref name="gramGrp"/>
    <ref name="pos"/>
    <ref name="subc"/>
    <ref name="colloc"/>
    <ref name="usg"/>
    <ref name="lbl"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.gramPart_sequenceOptional">
    <optional>
      <ref name="model.morphLike"/>
    </optional>
    <optional>
      <ref name="gramGrp"/>
    </optional>
    <optional>
      <ref name="pos"/>
    </optional>
    <optional>
      <ref name="subc"/>
    </optional>
    <optional>
      <ref name="colloc"/>
    </optional>
    <optional>
      <ref name="usg"/>
    </optional>
    <optional>
      <ref name="lbl"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.gramPart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.morphLike"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="gramGrp"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pos"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subc"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="colloc"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="usg"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="lbl"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.gramPart_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.morphLike"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="gramGrp"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="pos"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="subc"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="colloc"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="usg"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="lbl"/>
    </oneOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.ptrLike.form">
    <choice>
      <ref name="oRef"/>
      <ref name="oVar"/>
      <ref name="pRef"/>
      <ref name="pVar"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.ptrLike.form_sequence">
    <ref name="oRef"/>
    <ref name="oVar"/>
    <ref name="pRef"/>
    <ref name="pVar"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.ptrLike.form_sequenceOptional">
    <optional>
      <ref name="oRef"/>
    </optional>
    <optional>
      <ref name="oVar"/>
    </optional>
    <optional>
      <ref name="pRef"/>
    </optional>
    <optional>
      <ref name="pVar"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.ptrLike.form_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="oRef"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="oVar"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pRef"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pVar"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.ptrLike.form_sequenceRepeatable">
    <oneOrMore>
      <ref name="oRef"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="oVar"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="pRef"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="pVar"/>
    </oneOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.ptrLike.form.attributes">
    <ref name="att.ptrLike.form.attribute.target"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.ptrLike.form.attribute.target">
    <optional>
      <attribute name="target">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the orthographic form or pronunciation referred to.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.lexicographic.attributes">
    <ref name="att.lexicographic.attribute.expand"/>
    <ref name="att.lexicographic.attribute.norm"/>
    <ref name="att.lexicographic.attribute.split"/>
    <ref name="att.lexicographic.attribute.value"/>
    <ref name="att.lexicographic.attribute.orig"/>
    <ref name="att.lexicographic.attribute.location"/>
    <ref name="att.lexicographic.attribute.mergedin"/>
    <ref name="att.lexicographic.attribute.opt"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.lexicographic.attribute.expand">
    <optional>
      <attribute name="expand">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives an expanded form of information presented more concisely in the dictionary</a:documentation>
        <text/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.lexicographic.attribute.norm">
    <optional>
      <attribute name="norm">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a normalized form of information given by the source text in a
                non-normalized form</a:documentation>
        <text/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.lexicographic.attribute.split">
    <optional>
      <attribute name="split">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the list of split values for a merged form</a:documentation>
        <text/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.lexicographic.attribute.value">
    <optional>
      <attribute name="value">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a value which lacks any realization in the printed source text.</a:documentation>
        <text/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.lexicographic.attribute.orig">
    <optional>
      <attribute name="orig">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the original string or is the empty string when the element does not appear
                in the source text.</a:documentation>
        <text/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.lexicographic.attribute.location">
    <optional>
      <attribute name="location">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides a reference to an anchor element elsewhere in the document
                indicating the original location of this component.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.lexicographic.attribute.mergedin">
    <optional>
      <attribute name="mergedin">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a reference to another element, where the original appears as a merged form.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.lexicographic.attribute.opt">
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="opt" a1:defaultValue="false">
        <a1:documentation>indicates whether the element is optional or not</a1:documentation>
        <data type="boolean"/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryParts">
    <choice>
      <ref name="superEntry"/>
      <ref name="hom"/>
      <ref name="sense"/>
      <ref name="form"/>
      <ref name="orth"/>
      <ref name="pron"/>
      <ref name="hyph"/>
      <ref name="syll"/>
      <ref name="stress"/>
      <ref name="gen"/>
      <ref name="number"/>
      <ref name="case"/>
      <ref name="per"/>
      <ref name="tns"/>
      <ref name="mood"/>
      <ref name="iType"/>
      <ref name="gramGrp"/>
      <ref name="pos"/>
      <ref name="subc"/>
      <ref name="colloc"/>
      <ref name="def"/>
      <ref name="tr"/>
      <ref name="trans"/>
      <ref name="etym"/>
      <ref name="dicteg"/>
      <ref name="usg"/>
      <ref name="lbl"/>
      <ref name="xr"/>
      <ref name="re"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryParts_sequence">
    <ref name="superEntry"/>
    <ref name="hom"/>
    <ref name="sense"/>
    <ref name="form"/>
    <ref name="orth"/>
    <ref name="pron"/>
    <ref name="hyph"/>
    <ref name="syll"/>
    <ref name="stress"/>
    <ref name="gen"/>
    <ref name="number"/>
    <ref name="case"/>
    <ref name="per"/>
    <ref name="tns"/>
    <ref name="mood"/>
    <ref name="iType"/>
    <ref name="gramGrp"/>
    <ref name="pos"/>
    <ref name="subc"/>
    <ref name="colloc"/>
    <ref name="def"/>
    <ref name="tr"/>
    <ref name="trans"/>
    <ref name="etym"/>
    <ref name="dicteg"/>
    <ref name="usg"/>
    <ref name="lbl"/>
    <ref name="xr"/>
    <ref name="re"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryParts_sequenceOptional">
    <optional>
      <ref name="superEntry"/>
    </optional>
    <optional>
      <ref name="hom"/>
    </optional>
    <optional>
      <ref name="sense"/>
    </optional>
    <optional>
      <ref name="form"/>
    </optional>
    <optional>
      <ref name="orth"/>
    </optional>
    <optional>
      <ref name="pron"/>
    </optional>
    <optional>
      <ref name="hyph"/>
    </optional>
    <optional>
      <ref name="syll"/>
    </optional>
    <optional>
      <ref name="stress"/>
    </optional>
    <optional>
      <ref name="gen"/>
    </optional>
    <optional>
      <ref name="number"/>
    </optional>
    <optional>
      <ref name="case"/>
    </optional>
    <optional>
      <ref name="per"/>
    </optional>
    <optional>
      <ref name="tns"/>
    </optional>
    <optional>
      <ref name="mood"/>
    </optional>
    <optional>
      <ref name="iType"/>
    </optional>
    <optional>
      <ref name="gramGrp"/>
    </optional>
    <optional>
      <ref name="pos"/>
    </optional>
    <optional>
      <ref name="subc"/>
    </optional>
    <optional>
      <ref name="colloc"/>
    </optional>
    <optional>
      <ref name="def"/>
    </optional>
    <optional>
      <ref name="tr"/>
    </optional>
    <optional>
      <ref name="trans"/>
    </optional>
    <optional>
      <ref name="etym"/>
    </optional>
    <optional>
      <ref name="dicteg"/>
    </optional>
    <optional>
      <ref name="usg"/>
    </optional>
    <optional>
      <ref name="lbl"/>
    </optional>
    <optional>
      <ref name="xr"/>
    </optional>
    <optional>
      <ref name="re"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryParts_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="superEntry"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="hom"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="sense"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="form"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="orth"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pron"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="hyph"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="syll"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="stress"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="gen"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="number"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="case"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="per"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tns"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="mood"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="iType"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="gramGrp"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pos"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="subc"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="colloc"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="def"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="tr"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="trans"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="etym"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="dicteg"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="usg"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="lbl"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="xr"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="re"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.entryParts_sequenceRepeatable">
    <oneOrMore>
      <ref name="superEntry"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="hom"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="sense"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="form"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="orth"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="pron"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="hyph"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="syll"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="stress"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="gen"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="number"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="case"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="per"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tns"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="mood"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="iType"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="gramGrp"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="pos"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="subc"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="colloc"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="def"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="tr"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="trans"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="etym"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="dicteg"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="usg"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="lbl"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="xr"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="re"/>
    </oneOrMore>
  </define>
<!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="case">
    <element name="case">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains grammatical case information given by a dictionary for a given form.</a:documentation>
      <ref name="case.content"/>
      <ref name="case.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="case.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="case.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="colloc">
    <element name="colloc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(collocate) contains a collocate of the headword.</a:documentation>
      <ref name="colloc.content"/>
      <ref name="colloc.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="colloc.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="colloc.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the collocation, using any convenient typology.</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="def">
    <element name="def">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(definition) contains definition text in a dictionary entry.</a:documentation>
      <ref name="def.content"/>
      <ref name="def.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="def.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="def.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="dictScrap">
    <element name="dictScrap">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">encloses a part of a dictionary entry in which other phrase-level dictionary elements are
        freely combined.</a:documentation>
      <ref name="dictScrap.content"/>
      <ref name="dictScrap.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="dictScrap.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.entryParts"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.inter"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="dictScrap.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="dicteg">
    <element name="dicteg">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(example (exempli gratia)) (in a dictionary) contains an example text containing at least one occurrence of the word
        form, used in the sense being described; examples may be quoted from (named) authors or contrived.</a:documentation>
      <ref name="dicteg.content"/>
      <ref name="dicteg.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="dicteg.content">
    <oneOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:ref name="q"/>
        <rng:ref name="quote"/>
        <rng:ref name="cit"/>
        <rng:ref name="model.entryParts"/>
      </rng:choice>
    </oneOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="dicteg.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="entry">
    <element name="entry">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a reasonably well-structured dictionary entry.</a:documentation>
      <ref name="entry.content"/>
      <ref name="entry.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="entry.content">
    <oneOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:ref name="hom"/>
        <rng:ref name="sense"/>
        <rng:ref name="model.entryParts.top"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </oneOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="entry.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.entryLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="entryFree">
    <element name="entryFree">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a dictionary entry which does not necessarily conform to the constraints imposed
        by the entry element.</a:documentation>
      <ref name="entryFree.content"/>
      <ref name="entryFree.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="entryFree.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.entryParts"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.inter"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="entryFree.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.entryLike.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="etym">
    <element name="etym">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(etymology) encloses the etymological information in a dictionary entry.</a:documentation>
      <ref name="etym.content"/>
      <ref name="etym.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="etym.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.inter"/>
        <rng:ref name="usg"/>
        <rng:ref name="lbl"/>
        <rng:ref name="def"/>
        <rng:ref name="trans"/>
        <rng:ref name="tr"/>
        <rng:ref name="model.morphLike"/>
        <rng:ref name="dicteg"/>
        <rng:ref name="xr"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="etym.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="form">
    <element name="form">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(form information group) groups all the information on the written and spoken forms of one headword.</a:documentation>
      <ref name="form.content"/>
      <ref name="form.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="form.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.inter"/>
        <rng:ref name="model.formPart"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="form.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies form as simple, compound, etc.
Suggested values include: 1] simple (single free lexical item); 2] lemma (the headword itself); 3] variant (a variant form); 4] compound (word formed from simple lexical items); 5] derivative (word derived from headword); 6] inflected (word in other than usual dictionary form); 7] phrase (multiple-word lexical item)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="gen">
    <element name="gen">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(gender) identifies the morphological gender of a lexical item, as given in the dictionary.</a:documentation>
      <ref name="gen.content"/>
      <ref name="gen.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="gen.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="gen.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="gram">
    <element name="gram">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(grammatical information) within an entry in a dictionary or a terminological data file, contains grammatical
        information relating to a term, word, or form.</a:documentation>
      <ref name="gram.content"/>
      <ref name="gram.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="gram.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="gram.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the grammatical information given according to some convenient typology
                &#x2014; in the case of terminological information, preferably the dictionary of
                data element types specified in ISO WD 12 620.
Sample values include: 1] pos (part of speech (any of the word classes to which a word may be assigned
                        in a given language, based on form, meaning, or a combination of features,
                        e.g. noun, verb, adjective, etc.)); 2] gen (gender (formal classification by which nouns and pronouns, and often
                        accompanying modifiers, are grouped and inflected, or changed in form, so as
                        to control certain syntactic relationships)); 3] num (number (e.g. singular, plural, dual, ...)); 4] animate (animate or inanimate); 5] proper (proper noun or common noun)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="gramGrp">
    <element name="gramGrp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(grammatical information group) groups morpho-syntactic information about a lexical item, e.g. pos, gen, number, case, or
        iType (inflectional class).</a:documentation>
      <ref name="gramGrp.content"/>
      <ref name="gramGrp.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="gramGrp.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.inter"/>
        <rng:ref name="model.gramPart"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="gramGrp.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="hom">
    <element name="hom">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(homograph) groups information relating to one homograph within an entry.</a:documentation>
      <ref name="hom.content"/>
      <ref name="hom.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="hom.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:ref name="sense"/>
        <rng:ref name="model.entryParts.top"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="hom.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="hyph">
    <element name="hyph">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(hyphenation) contains a hyphenated form of a dictionary headword, or hyphenation information in some
        other form.</a:documentation>
      <ref name="hyph.content"/>
      <ref name="hyph.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="hyph.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="hyph.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="iType">
    <element name="iType">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(inflectional class) indicates the inflectional class associated with a lexical item.</a:documentation>
      <ref name="iType.content"/>
      <ref name="iType.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="iType.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="iType.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the type of indicator used to specify the inflection class, when it is
                necessary to distinguish between the usual abbreviated indications (e.g.
                inv) and other kinds of indicators, such as special codes
                referring to conjugation patterns, etc.
Sample values include: 1] abbrev (abbreviated indicator); 2] verbTable (coded reference to a table of verbs)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="lang">
    <element name="lang">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(language name) name of a language mentioned in etymological or other linguistic discussion.</a:documentation>
      <ref name="lang.content"/>
      <ref name="lang.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="lang.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="lang.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="lbl">
    <element name="lbl">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(label) in dictionaries, contains a label for a form, example, translation, or other piece of
        information, e.g. abbreviation for, contraction of, literally, approximately, synonyms:, etc.</a:documentation>
      <ref name="lbl.content"/>
      <ref name="lbl.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="lbl.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="lbl.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the label using any convenient typology.</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="mood">
    <element name="mood">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains information about the grammatical mood of verbs (e.g. indicative, subjunctive, imperative)</a:documentation>
      <ref name="mood.content"/>
      <ref name="mood.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="mood.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="mood.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="number">
    <element name="number">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates grammatical number associated with a form, as given in a dictionary.</a:documentation>
      <ref name="number.content"/>
      <ref name="number.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="number.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="number.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="oRef">
    <element name="oRef">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(orthographic-form reference) in a dictionary example, indicates a reference to the orthographic form(s) of the headword.</a:documentation>
      <ref name="oRef.content"/>
      <ref name="oRef.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="oRef.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="oRef.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.ptrLike.form.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the kind of typographic modification made to the headword in the reference.
Sample values include: 1] cap (indicates first letter is given as capital); 2] nohyph (indicates that the headword, though a prefix or suffix, loses its hyphen)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="oVar">
    <element name="oVar">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(orthographic-variant reference) in a dictionary example, indicates a reference to variant orthographic form(s) of the headword.</a:documentation>
      <ref name="oVar.content"/>
      <ref name="oVar.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="oVar.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="oRef"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="oVar.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.ptrLike.form.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the kind of variant involved.
Sample values include: 1] pt (past tense); 2] pp (past participle); 3] prp (present participle); 4] f (feminine); 5] pl (plural)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orth">
    <element name="orth">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(orthographic form) gives the orthographic form of a dictionary headword.</a:documentation>
      <ref name="orth.content"/>
      <ref name="orth.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orth.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orth.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the type of spelling.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="extent" a1:defaultValue="full">
        <a1:documentation>gives the extent of the orthographic information provided.
Sample values include: 1] full (full form); 2] pref (prefix); 3] suff (suffix); 4] part (partial)</a1:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pRef">
    <element name="pRef">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(pronunciation reference) in a dictionary example, indicates a reference to the pronunciation(s) of the headword.</a:documentation>
      <ref name="pRef.content"/>
      <ref name="pRef.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pRef.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pRef.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.ptrLike.form.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pVar">
    <element name="pVar">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(pronunciation-variant reference) in a dictionary example, indicates a reference to variant pronunciation(s) of the headword.</a:documentation>
      <ref name="pVar.content"/>
      <ref name="pVar.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pVar.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="pRef"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pVar.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.ptrLike.form.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="per">
    <element name="per">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(person) contains an indication of the grammatical person (1st, 2nd, 3rd, etc.) associated with a
        given inflected form in a dictionary.</a:documentation>
      <ref name="per.content"/>
      <ref name="per.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="per.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="per.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pos">
    <element name="pos">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(part of speech) indicates the part of speech assigned to a dictionary headword (noun, verb, adjective, etc.)</a:documentation>
      <ref name="pos.content"/>
      <ref name="pos.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pos.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pos.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pron">
    <element name="pron">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(pronunciation) contains the pronunciation(s) of the word.</a:documentation>
      <ref name="pron.content"/>
      <ref name="pron.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pron.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pron.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="extent" a1:defaultValue="full">
        <a1:documentation>indicates whether the pronunciation is for whole word or part. 
Sample values include: 1] full (full form); 2] pref (prefix); 3] suff (suffix); 4] part (partial)</a1:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="notation">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates what notation is used for the pronunciation, if more than one occurs in
                the machine-readable dictionary. </a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="re">
    <element name="re">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(related entry) contains a dictionary entry for a lexical item related to the headword, such as a compound
        phrase or derived form, embedded inside a larger entry.</a:documentation>
      <ref name="re.content"/>
      <ref name="re.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="re.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="sense"/>
        <rng:ref name="model.entryParts.top"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="re.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the related entry according to any convenient typology.</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="sense">
    <element name="sense">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(sense information group) groups together all information relating to one word sense in a dictionary entry
        (definitions, examples, translation equivalents, etc.)</a:documentation>
      <ref name="sense.content"/>
      <ref name="sense.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="sense.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="sense"/>
        <rng:ref name="model.entryParts.top"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="sense.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="level">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the nesting depth of this sense.</a:documentation>
        <ref name="data.numeric"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="stress">
    <element name="stress">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the stress pattern for a dictionary headword, if given separately.</a:documentation>
      <ref name="stress.content"/>
      <ref name="stress.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="stress.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="stress.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="subc">
    <element name="subc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(subcategorization) contains subcategorization information (transitive/intransitive, countable/non-countable, etc.)</a:documentation>
      <ref name="subc.content"/>
      <ref name="subc.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="subc.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="subc.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="superEntry">
    <element name="superEntry">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">groups successive entries for a set of homographs.</a:documentation>
      <ref name="superEntry.content"/>
      <ref name="superEntry.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="superEntry.content">
    <choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:group>
        <rng:optional>
          <rng:ref name="form"/>
        </rng:optional>
        <rng:oneOrMore>
          <rng:ref name="entry"/>
        </rng:oneOrMore>
      </rng:group>
      <rng:ref name="dictScrap"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="superEntry.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.entryLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="syll">
    <element name="syll">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(syllabification) contains the syllabification of the headword.</a:documentation>
      <ref name="syll.content"/>
      <ref name="syll.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="syll.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="syll.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="tns">
    <element name="tns">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(tense) indicates the grammatical tense associated with a given inflected form in a dictionary.</a:documentation>
      <ref name="tns.content"/>
      <ref name="tns.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="tns.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="tns.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="tr">
    <element name="tr">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(translation equivalent) contains a translation of the headword or an example.</a:documentation>
      <ref name="tr.content"/>
      <ref name="tr.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="tr.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="tr.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="trans">
    <element name="trans">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(translation information) contains translation text and related information (within an entry in a multilingual dictionary).</a:documentation>
      <ref name="trans.content"/>
      <ref name="trans.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="trans.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.inter"/>
        <rng:ref name="model.entryParts"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="trans.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="usg">
    <element name="usg">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(usage) contains usage information in a dictionary entry.</a:documentation>
      <ref name="usg.content"/>
      <ref name="usg.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="usg.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="usg.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the usage information using any convenient typology.
Sample values include: 1] geo (geographic area); 2] time (temporal, historical era (archaic, old, etc.)); 3] dom (domain); 4] reg (register); 5] style (style (figurative, literal, etc.)); 6] plev (preference level (chiefly, usually, etc.)); 7] lang (lang (language for foreign words, spellings pronunciations, etc.)); 8] gram (grammatical usage); 9] syn (synonym given to show use); 10] hyper (hypernym given to show usage); 11] colloc (collocation given to show usage); 12] comp (typical complement); 13] obj (typical object); 14] subj (typical subject); 15] verb (typical verb); 16] hint (unclassifiable piece of information to guide sense choice)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="xr">
    <element name="xr">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(cross-reference phrase) contains a phrase, sentence, or icon referring the reader to
some other location in this or another text.</a:documentation>
      <ref name="xr.content"/>
      <ref name="xr.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="xr.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.inter"/>
        <rng:ref name="usg"/>
        <rng:ref name="lbl"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="xr.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.lexicographic.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the type of cross reference, using any convenient
typology.
Sample values include: 1] syn (cross reference for synonym information); 2] etym (etymological information); 3] cf (related or similar term); 4] illus (illustration of an object)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
<!--3. macros-->
</rng:grammar>
