configuration_files_for_text_editors/emacs_configuration_files/.emacs.d/easymacs/TEI/p5-schema/drama.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<!--Schema generated 2007-03-13T16:02:29Z..
Copyright 2005 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
To contact the TEI Consortium use the following addresses.
	    For general (non-technical) enquiries: 
		  target="mailto:info@tei-c.org"/>info@tei-c.orgFor membership enquiries: membership@tei-c.orgFor technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C: editors@tei-c.orgFor up to date information, consult the TEI web site at http://www.tei-c.org/P5Performance texts-->
<!--Definitions from module drama-->
<!--Set global predeclared macros-->
<!--Set predeclared macros-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="mix.drama" combine="choice">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="model.divPart.stage"/>
  </define>
<!--0. predeclared macros-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="mix.drama" combine="choice">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="model.divPart.stage"/>
  </define>
<!--1. classes-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.stage">
    <choice>
      <ref name="model.stageLike"/>
      <ref name="castList"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.stage_sequence">
    <ref name="model.stageLike"/>
    <ref name="castList"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.stage_sequenceOptional">
    <optional>
      <ref name="model.stageLike"/>
    </optional>
    <optional>
      <ref name="castList"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.stage_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="model.stageLike"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="castList"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.stage_sequenceRepeatable">
    <oneOrMore>
      <ref name="model.stageLike"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="castList"/>
    </oneOrMore>
  </define>
<!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="actor">
    <element name="actor">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(actor) Name of an actor appearing within a cast list.</a:documentation>
      <ref name="actor.content"/>
      <ref name="actor.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="actor.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="actor.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="camera">
    <element name="camera">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes a particular camera angle or viewpoint in a screen play.</a:documentation>
      <ref name="camera.content"/>
      <ref name="camera.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="camera.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="camera.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="caption">
    <element name="caption">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the text of a caption or other text displayed as part of
a film script or screenplay.</a:documentation>
      <ref name="caption.content"/>
      <ref name="caption.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="caption.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="caption.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="castGroup">
    <element name="castGroup">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Cast list grouping) groups one or more individual castItem
elements within a cast list.</a:documentation>
      <ref name="castGroup.content"/>
      <ref name="castGroup.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="castGroup.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:ref name="head"/>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:optional>
      <rng:oneOrMore>
        <rng:choice>
          <rng:ref name="castItem"/>
          <rng:ref name="castGroup"/>
          <rng:ref name="roleDesc"/>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:oneOrMore>
      <rng:optional>
        <rng:ref name="trailer"/>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:optional>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="castGroup.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="castItem">
    <element name="castItem">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Cast list item) contains a single entry within a cast list, describing
either a single role or a list of non-speaking roles.</a:documentation>
      <ref name="castItem.content"/>
      <ref name="castItem.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="castItem.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.castItemPart"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="castItem.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="type" a1:defaultValue="role">
        <a1:documentation>characterizes the cast item.
   </a1:documentation>
        <choice>
          <value>role</value>
          <a1:documentation>(the item describes a single role.
       ) </a1:documentation>
          <value>list</value>
          <a1:documentation>(the item describes a list of non-speaking roles.
   ) </a1:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="castList">
    <element name="castList">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(cast list) contains a single cast list or dramatis personae.</a:documentation>
      <ref name="castList.content"/>
      <ref name="castList.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="castList.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divWrapper"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:zeroOrMore>
        <rng:group>
          <rng:ref name="macro.component"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:zeroOrMore>
      <rng:oneOrMore>
        <rng:choice>
          <rng:ref name="castItem"/>
          <rng:ref name="castGroup"/>
        </rng:choice>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:oneOrMore>
      <rng:zeroOrMore>
        <rng:group>
          <rng:ref name="macro.component"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:zeroOrMore>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="castList.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="epilogue">
    <element name="epilogue">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the epilogue to a drama,  typically spoken by an actor
out of character, possibly in association with a particular performance
or venue.</a:documentation>
      <ref name="epilogue.content"/>
      <ref name="epilogue.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="epilogue.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divWrapper"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:oneOrMore>
        <rng:group>
          <rng:ref name="macro.component"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:oneOrMore>
      <rng:zeroOrMore>
        <rng:group>
          <rng:ref name="model.divWrapper.bottom"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:zeroOrMore>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="epilogue.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="move">
    <element name="move">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Movement) marks the actual entrance or exit of one or more characters on stage.</a:documentation>
      <ref name="move.content"/>
      <ref name="move.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="move.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="move.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.ascribed.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes the movement, for example as an entrance or exit.
Suggested values include: 1] entrance (character is entering the stage.); 2] exit (character is exiting the stage.); 3] onstage (character moves on stage)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="where">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the direction of a stage movement.
Sample values include: 1] L (stage left); 2] R (stage right); 3] C (centre stage)</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.enumerated"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="perf">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the performance or performances in which this movement
		occurred as specified.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="performance">
    <element name="performance">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a section of front or back matter describing how a
dramatic piece is to be performed in general or how it was performed
on some specific occasion. </a:documentation>
      <ref name="performance.content"/>
      <ref name="performance.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="performance.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divWrapper"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:oneOrMore>
        <rng:group>
          <rng:ref name="macro.component"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:oneOrMore>
      <rng:zeroOrMore>
        <rng:group>
          <rng:ref name="model.divWrapper.bottom"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:zeroOrMore>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="performance.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="prologue">
    <element name="prologue">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the prologue to a drama,  typically spoken by an actor out of
character, possibly in association with a particular performance or venue.</a:documentation>
      <ref name="prologue.content"/>
      <ref name="prologue.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="prologue.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.divWrapper"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
      <rng:oneOrMore>
        <rng:group>
          <rng:ref name="macro.component"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:oneOrMore>
      <rng:zeroOrMore>
        <rng:group>
          <rng:ref name="model.divWrapper.bottom"/>
        </rng:group>
        <rng:zeroOrMore>
          <rng:ref name="model.global"/>
        </rng:zeroOrMore>
      </rng:zeroOrMore>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="prologue.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="role">
    <element name="role">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">the name of a dramatic role, as given in a cast list.</a:documentation>
      <ref name="role.content"/>
      <ref name="role.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="role.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="role.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="roleDesc">
    <element name="roleDesc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(role description) describes a character's role in a drama.</a:documentation>
      <ref name="roleDesc.content"/>
      <ref name="roleDesc.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="roleDesc.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="roleDesc.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="set">
    <element name="set">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a description of the setting, time, locale, appearance,
etc., of the action of a play, typically found in the front matter of
a printed performance text (not a stage direction).</a:documentation>
      <ref name="set.content"/>
      <ref name="set.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="set.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:zeroOrMore>
        <rng:ref name="model.global"/>
      </rng:zeroOrMore>
      <rng:optional>
        <rng:ref name="head"/>
      </rng:optional>
      <rng:zeroOrMore>
        <rng:group>
          <rng:ref name="macro.component"/>
          <rng:zeroOrMore>
            <rng:ref name="model.global"/>
          </rng:zeroOrMore>
        </rng:group>
      </rng:zeroOrMore>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="set.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="sound">
    <element name="sound">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes a sound effect or musical sequence specified within a
screen play or radio script.</a:documentation>
      <ref name="sound.content"/>
      <ref name="sound.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="sound.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="sound.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the sound in some respect, e.g. as music, special
effect, etc.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="discrete" a1:defaultValue="unknown">
        <a1:documentation>indicates whether the sound overlaps the surrounding speeches
or interrupts them.</a1:documentation>
        <choice>
          <value>true</value>
          <a1:documentation>(the sound is heard between the surrounding speeches) </a1:documentation>
          <value>false</value>
          <a1:documentation>(the sound overlaps the surrounding speeches) </a1:documentation>
          <value>unknown</value>
          <a1:documentation>(unknown or inapplicable) </a1:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="tech">
    <element name="tech">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Technical stage direction) describes a special-purpose stage direction that is not
meant for the actors.</a:documentation>
      <ref name="tech.content"/>
      <ref name="tech.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="tech.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="tech.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the technical stage direction.</a:documentation>
        <choice>
          <value>light</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(a lighting cue) </a:documentation>
          <value>sound</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(a sound cue) </a:documentation>
          <value>prop</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(a prop cue) </a:documentation>
          <value>block</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(a blocking instruction) </a:documentation>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="perf">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the performance or performances to which this
technical direction applies.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="view">
    <element name="view">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the visual context of some part of a screen play in
terms of what the spectator sees, generally independent of any
dialogue.</a:documentation>
      <ref name="view.content"/>
      <ref name="view.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="view.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.specialPara"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="view.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
<!--3. macros-->
</rng:grammar>
