configuration_files_for_text_editors/emacs_configuration_files/.emacs.d/easymacs/TEI/p5-schema/namesdates.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<!--Schema generated 2007-03-13T16:02:29Z..
Copyright 2005 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
To contact the TEI Consortium use the following addresses.
	    For general (non-technical) enquiries: 
		  target="mailto:info@tei-c.org"/>info@tei-c.orgFor membership enquiries: membership@tei-c.orgFor technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C: editors@tei-c.orgFor up to date information, consult the TEI web site at http://www.tei-c.org/P5Names and dates-->
<!--Definitions from module namesdates-->
<!--Set global predeclared macros-->
<!--Set predeclared macros-->
<!--0. predeclared macros-->
<!--1. classes-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.persNamePart">
    <choice>
      <ref name="surname"/>
      <ref name="forename"/>
      <ref name="genName"/>
      <ref name="nameLink"/>
      <ref name="addName"/>
      <ref name="roleName"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.persNamePart_sequence">
    <ref name="surname"/>
    <ref name="forename"/>
    <ref name="genName"/>
    <ref name="nameLink"/>
    <ref name="addName"/>
    <ref name="roleName"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.persNamePart_sequenceOptional">
    <optional>
      <ref name="surname"/>
    </optional>
    <optional>
      <ref name="forename"/>
    </optional>
    <optional>
      <ref name="genName"/>
    </optional>
    <optional>
      <ref name="nameLink"/>
    </optional>
    <optional>
      <ref name="addName"/>
    </optional>
    <optional>
      <ref name="roleName"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.persNamePart_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="surname"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="forename"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="genName"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="nameLink"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="addName"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="roleName"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.persNamePart_sequenceRepeatable">
    <oneOrMore>
      <ref name="surname"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="forename"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="genName"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="nameLink"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="addName"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="roleName"/>
    </oneOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.personal.attributes">
    <ref name="att.personal.attribute.type"/>
    <ref name="att.personal.attribute.full"/>
    <ref name="att.personal.attribute.sort"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.personal.attribute.type">
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides more culture- linguistic- or application- specific
information used to categorize this name component.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.personal.attribute.full">
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="full" a1:defaultValue="yes">
        <a1:documentation>indicates whether the name component is given in full, as an
abbreviation or simply as an initial.</a1:documentation>
        <choice>
          <value>yes</value>
          <a1:documentation>(the name component is spelled out in full.) </a1:documentation>
          <value>abb</value>
          <a1:documentation>(the name component is given in an
abbreviated form.) </a1:documentation>
          <value>init</value>
          <a1:documentation>(the name component is indicated only by
one initial.) </a1:documentation>
        </choice>
      </attribute>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="att.personal.attribute.sort">
    <optional>
      <attribute name="sort">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sort order of the name component in relation
to others within the personal name.</a:documentation>
        <data type="nonNegativeInteger"/>
      </attribute>
    </optional>
  </define>
<!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="addName">
    <element name="addName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(additional name) contains an additional name component, such as a nickname, 
epithet, or alias, or any other descriptive phrase used within a
personal name.</a:documentation>
      <ref name="addName.content"/>
      <ref name="addName.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="addName.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="addName.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.personal.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="affiliation">
    <element name="affiliation">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(affiliation) contains an informal description of a person's present
or past affiliation with some
organization, for example an employer or sponsor.</a:documentation>
      <ref name="affiliation.content"/>
      <ref name="affiliation.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="affiliation.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="affiliation.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.naming.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="age">
    <element name="age">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the age of a person.</a:documentation>
      <ref name="age.content"/>
      <ref name="age.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="age.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="age.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.datable.attributes"/>
    <optional>
      <attribute name="value">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a numeric code representing the age or age group</a:documentation>
        <ref name="data.count"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="birth">
    <element name="birth">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Birth details) contains information about a person's birth, such as its date
and place.</a:documentation>
      <ref name="birth.content"/>
      <ref name="birth.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="birth.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="birth.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.naming.attributes"/>
    <optional>
      <attribute name="date">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the date of birth in a W3C standard form (YYYY-MM-DD).</a:documentation>
        <ref name="data.temporal"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="bloc">
    <element name="bloc">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(bloc) contains the name of a geo-political unit consisting of  two or
more nation states or countries.</a:documentation>
      <ref name="bloc.content"/>
      <ref name="bloc.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="bloc.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="bloc.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.naming.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="country">
    <element name="country">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(country) contains the name of a geo-political unit, such as a nation,
country, colony, or commonwealth, larger than or administratively superior
to a region and smaller than a bloc.</a:documentation>
      <ref name="country.content"/>
      <ref name="country.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="country.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="country.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.naming.attributes"/>
    <ref name="att.typed.attributes"/>
    <optional>
      <attribute name="reg">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a regularized form of the country name using a
	name or	code from ISO 3166</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="death">
    <element name="death">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains information about a person's death, such as its date
and place.</a:documentation>
      <ref name="death.content"/>
      <ref name="death.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="death.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="death.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.naming.attributes"/>
    <optional>
      <attribute name="date">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the date of death in a W3C standard form (YYYY-MM-DD).</a:documentation>
        <ref name="data.temporal"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="distance">
    <element name="distance">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(distance) that part of a relative temporal or spatial expression which indicates
the distance between the place or time denoted by it and the place or
time referred to within it.</a:documentation>
      <ref name="distance.content"/>
      <ref name="distance.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="distance.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="distance.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datePart.attributes"/>
    <ref name="att.typed.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="exact" a1:defaultValue="unknown">
        <a1:documentation>indicates the degree
of accuracy associated with the
distance.</a1:documentation>
        <choice>
          <value>true</value>
          <a1:documentation>(The distance is exact.) </a1:documentation>
          <value>false</value>
          <a1:documentation>(The distance is approximate.) </a1:documentation>
          <value>unknown</value>
          <a1:documentation>(Accuracy unavailable or unknown.) </a1:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="district">
    <element name="district">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the name of any kind of subdivision of a
settlement,  such as a parish, ward, or other
administrative or geographic unit.</a:documentation>
      <ref name="district.content"/>
      <ref name="district.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="district.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="district.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.naming.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="education">
    <element name="education">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a description of the
educational experience of a person.</a:documentation>
      <ref name="education.content"/>
      <ref name="education.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="education.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="education.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.naming.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="faith">
    <element name="faith">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the faith,  religion, or belief set of a person.</a:documentation>
      <ref name="faith.content"/>
      <ref name="faith.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="faith.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="faith.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.datable.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="floruit">
    <element name="floruit">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains information about a person's period of activity.</a:documentation>
      <ref name="floruit.content"/>
      <ref name="floruit.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="floruit.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="floruit.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="forename">
    <element name="forename">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(forename) contains a forename, given or baptismal name.</a:documentation>
      <ref name="forename.content"/>
      <ref name="forename.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="forename.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="forename.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.personal.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="genName">
    <element name="genName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a name component used to distinguish otherwise similar
names on the basis of the relative ages or generations of the persons named.</a:documentation>
      <ref name="genName.content"/>
      <ref name="genName.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="genName.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="genName.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.personal.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="geog">
    <element name="geog">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(geographical feature name) contains a common noun identifying some geographical feature 
contained within a geographic name, such as valley,
mount etc.</a:documentation>
      <ref name="geog.content"/>
      <ref name="geog.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="geog.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.xtext"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="geog.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.naming.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="geogName">
    <element name="geogName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(geographical name) a name associated with some geographical feature such as
  Windrush Valley or Mount Sinai.</a:documentation>
      <ref name="geogName.content"/>
      <ref name="geogName.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="geogName.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="geog"/>
        <rng:ref name="model.nameLike"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="geogName.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.naming.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides more culture- linguistic- or application-
      specific information used to categorize this name
      component.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="langKnowledge">
    <element name="langKnowledge">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">summarizes the state of a person's linguistic knowledge, either
as prose or by a list of langKnown elements.</a:documentation>
      <ref name="langKnowledge.content"/>
      <ref name="langKnowledge.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="langKnowledge.content">
    <choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:ref name="model.pLike"/>
      <rng:oneOrMore>
        <rng:ref name="langKnown"/>
      </rng:oneOrMore>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="langKnowledge.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <optional>
      <attribute name="tags">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies one or more valid language tags for the languages
      specified</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.language"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="langKnown">
    <element name="langKnown">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(linguistic competence) summarizes the state of a person's knowledge of a single language.</a:documentation>
      <ref name="langKnown.content"/>
      <ref name="langKnown.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="langKnown.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="langKnown.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <attribute name="tag">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a  valid language tag for the language concerned.</a:documentation>
      <ref name="data.language"/>
    </attribute>
    <optional>
      <attribute name="level">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a code indicating the person's level of knowledge for this language </a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="listPerson">
    <element name="listPerson">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a list of descriptions, each of which provides
information about an identifiable person or a group of people, for
example the participants in a language interaction, or the people referred
to in a historical source. </a:documentation>
      <ref name="listPerson.content"/>
      <ref name="listPerson.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="listPerson.content">
    <choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:group>
        <rng:oneOrMore>
          <rng:choice>
            <rng:ref name="person"/>
            <rng:ref name="personGrp"/>
          </rng:choice>
        </rng:oneOrMore>
        <rng:optional>
          <rng:ref name="particLinks"/>
        </rng:optional>
      </rng:group>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="listPerson.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.declarable.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="nameLink">
    <element name="nameLink">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(name link) contains a connecting phrase or link used within a name but not
regarded as part of it, such as  van der or of.</a:documentation>
      <ref name="nameLink.content"/>
      <ref name="nameLink.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="nameLink.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="nameLink.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.personal.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="nationality">
    <element name="nationality">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an informal description of a person's present
or past nationality or citizenship.</a:documentation>
      <ref name="nationality.content"/>
      <ref name="nationality.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="nationality.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="nationality.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.naming.attributes"/>
    <optional>
      <attribute name="reg">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a regularized form of the country name using a
	name or	code from ISO 3166</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="occupation">
    <element name="occupation">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an informal description of a person's trade,
profession or occupation.</a:documentation>
      <ref name="occupation.content"/>
      <ref name="occupation.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="occupation.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="occupation.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.naming.attributes"/>
    <optional>
      <attribute name="scheme">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the classification system or taxonomy in use by supplying
the identifier of a taxonomy element elsewhere in the header.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="code">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies an occupation code defined within the
classification system or taxonomy defined by the scheme
attribute.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="offset">
    <element name="offset">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(offset) that  part of a relative temporal or spatial expression
which indicates the direction of the offset between the two place
names, dates, or times involved in the expression. </a:documentation>
      <ref name="offset.content"/>
      <ref name="offset.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="offset.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="offset.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgDivn">
    <element name="orgDivn">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organizational division) indicates a division, branch or department specified
in an organizational name.</a:documentation>
      <ref name="orgDivn.content"/>
      <ref name="orgDivn.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgDivn.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgDivn.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">more fully describes the organization division specified in the
name component.
Possible values include branch, department,
section,
division, etc.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="reg">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a normalized or regularized form of the organizational
division.</a:documentation>
        <text/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgName">
    <element name="orgName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organization name) contains an organizational name. </a:documentation>
      <ref name="orgName.content"/>
      <ref name="orgName.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgName.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="orgTitle"/>
        <rng:ref name="orgType"/>
        <rng:ref name="orgDivn"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgName.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">more fully describes the organization indicated in the
      organizational name. Possible values include voluntary,
      political, governmental, industrial,
      commercial, etc.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="key">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides an alternative identifier for the organization
      being named, such as a database record key.</a:documentation>
        <ref name="data.key"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="reg">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a normalized or regularized form of the organization name</a:documentation>
        <text/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgTitle">
    <element name="orgTitle">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organization title) contains the proper name component of an organizational
name. </a:documentation>
      <ref name="orgTitle.content"/>
      <ref name="orgTitle.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgTitle.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgTitle.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">more fully describes the organization title. Possible values
include formal,
colloquial, acronym, etc.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="reg">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a normalized or regularized form of the organization title.</a:documentation>
        <text/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgType">
    <element name="orgType">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(organization type) indicates a part of the organization name which contains
information about the organization's structure or function.</a:documentation>
      <ref name="orgType.content"/>
      <ref name="orgType.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgType.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="orgType.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">more fully describes the organization type specified in the name
component.  Possible values include function, structure,
etc.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="reg">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives a normalized or regularized form of the organization type</a:documentation>
        <text/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="particLinks">
    <element name="particLinks">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(participant relationships) describes the relationships or social links existing between
participants in a linguistic interaction. </a:documentation>
      <ref name="particLinks.content"/>
      <ref name="particLinks.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="particLinks.content">
    <choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:oneOrMore>
        <rng:ref name="relation"/>
      </rng:oneOrMore>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="particLinks.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persEvent">
    <element name="persEvent">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a description of a particular event of significance in
the life of  a person.</a:documentation>
      <ref name="persEvent.content"/>
      <ref name="persEvent.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persEvent.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:optional>
        <rng:ref name="label"/>
      </rng:optional>
      <rng:optional>
        <rng:ref name="model.dateLike"/>
      </rng:optional>
      <rng:optional>
        <rng:ref name="placeName"/>
      </rng:optional>
      <rng:zeroOrMore>
        <rng:ref name="model.pLike"/>
      </rng:zeroOrMore>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.noteLike"/>
          <rng:ref name="model.biblLike"/>
        </rng:choice>
      </rng:zeroOrMore>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persEvent.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.naming.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persName">
    <element name="persName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(personal name) contains a proper noun or proper-noun phrase referring to a
  person, possibly including any or all of the person's forenames,
  surnames, honorifics, added names, etc.</a:documentation>
      <ref name="persName.content"/>
      <ref name="persName.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persName.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.persNamePart"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persName.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.naming.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes the personal name more fully using an open-ended
      list of words or phrases which help to indicate the function,
      e.g. married name, maiden name, pen name,
      religious name, etc.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persState">
    <element name="persState">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a description of some ongoing status or quality
attributed to a person.</a:documentation>
      <ref name="persState.content"/>
      <ref name="persState.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persState.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:optional>
        <rng:ref name="label"/>
      </rng:optional>
      <rng:optional>
        <rng:ref name="model.dateLike"/>
      </rng:optional>
      <rng:zeroOrMore>
        <rng:ref name="model.pLike"/>
      </rng:zeroOrMore>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.noteLike"/>
          <rng:ref name="model.biblLike"/>
        </rng:choice>
      </rng:zeroOrMore>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persState.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.naming.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persTrait">
    <element name="persTrait">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a description of a personal or culturally-determined characteristic
attributed to a person.</a:documentation>
      <ref name="persTrait.content"/>
      <ref name="persTrait.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persTrait.content">
    <group xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:optional>
        <rng:ref name="label"/>
      </rng:optional>
      <rng:optional>
        <rng:ref name="model.dateLike"/>
      </rng:optional>
      <rng:zeroOrMore>
        <rng:ref name="model.pLike"/>
      </rng:zeroOrMore>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.noteLike"/>
          <rng:ref name="model.biblLike"/>
        </rng:choice>
      </rng:zeroOrMore>
    </group>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="persTrait.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.naming.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="person">
    <element name="person">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">provides information about an identifiable individual, for
example a participant in a language interaction, or a person referred
to in a historical source.</a:documentation>
      <ref name="person.content"/>
      <ref name="person.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="person.content">
    <choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:zeroOrMore>
        <rng:choice>
          <rng:ref name="model.personPart"/>
          <rng:ref name="model.global"/>
        </rng:choice>
      </rng:zeroOrMore>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="person.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="role">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies a primary role or classification for the person.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="sex">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sex of the person.</a:documentation>
        <ref name="data.sex"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="age">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies an age group for the person.</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="personGrp">
    <element name="personGrp">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(personal group) describes a group of individuals treated as a single person for
  analytic purposes.</a:documentation>
      <ref name="personGrp.content"/>
      <ref name="personGrp.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="personGrp.content">
    <choice xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:oneOrMore>
        <rng:ref name="model.pLike"/>
      </rng:oneOrMore>
      <rng:zeroOrMore>
        <rng:ref name="model.personPart"/>
      </rng:zeroOrMore>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="personGrp.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="role">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the role of this group of participants in the
        interaction.</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="sex">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sex of the participant group.</a:documentation>
        <choice>
          <ref name="data.sex"/>
          <value>mixed</value>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="age">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the age group of the participants.</a:documentation>
        <ref name="data.word"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="size">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the size or approximate size of the group.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="placeName">
    <element name="placeName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an absolute or relative place name. </a:documentation>
      <ref name="placeName.content"/>
      <ref name="placeName.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="placeName.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.placeNamePart"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="placeName.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.naming.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="region">
    <element name="region">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(region) contains the name of an administrative unit such as a state,
province, or county, larger than a settlement, but smaller than a country.</a:documentation>
      <ref name="region.content"/>
      <ref name="region.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="region.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="region.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.naming.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="relation">
    <element name="relation">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(relationship) describes any kind of relationship or linkage amongst a specified
group of participants.</a:documentation>
      <ref name="relation.content"/>
      <ref name="relation.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="relation.content">
    <optional xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:ref name="desc"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="relation.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.naming.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="type" a1:defaultValue="personal">
        <a1:documentation>categorizes the relationship in some respect, e.g.
as social, personal or other.
Suggested values include: 1] social (relationship concerned with social roles); 2] personal (relationship concerned with personal roles, e.g.
kinship, marriage, etc.); 3] other (other kinds of relationship)</a1:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <attribute name="name">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a name for the kind of  relationship of which
	this is an instance.</a:documentation>
      <ref name="data.enumerated"/>
    </attribute>
    <optional>
      <choice>
        <attribute name="active">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the active participants in a non-mutual
relationship, or all the participants in a mutual one.</a:documentation>
          <list>
            <oneOrMore>
              <ref name="data.pointer"/>
            </oneOrMore>
          </list>
        </attribute>
        <attribute name="mutual">
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">supplies a list of participants amongst all of whom the relationship holds equally.</a:documentation>
          <list>
            <oneOrMore>
              <ref name="data.pointer"/>
            </oneOrMore>
          </list>
        </attribute>
      </choice>
    </optional>
    <optional>
      <attribute name="passive">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the passive participants in a non-mutual
relationship.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.pointer"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="residence">
    <element name="residence">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(residence) describes a person's present or past places of residence.</a:documentation>
      <ref name="residence.content"/>
      <ref name="residence.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="residence.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="residence.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.naming.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="roleName">
    <element name="roleName">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(roleName) contains a name component which indicates that the referent has a
particular role or position in society, such as an official title or
rank.</a:documentation>
      <ref name="roleName.content"/>
      <ref name="roleName.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="roleName.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="roleName.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.personal.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="settlement">
    <element name="settlement">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains the name of a settlement such as a city, town, or
village identified as a single geo-political or
administrative unit.</a:documentation>
      <ref name="settlement.content"/>
      <ref name="settlement.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="settlement.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="settlement.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.naming.attributes"/>
    <ref name="att.typed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="sex">
    <element name="sex">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">specifies the sex of a person.</a:documentation>
      <ref name="sex.content"/>
      <ref name="sex.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="sex.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="sex.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.datable.attributes"/>
    <optional>
      <attribute name="value">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"/>
        <ref name="data.sex"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="socecStatus">
    <element name="socecStatus">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(socio-economic status) contains an informal description of a person's perceived social or
economic status.</a:documentation>
      <ref name="socecStatus.content"/>
      <ref name="socecStatus.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="socecStatus.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="socecStatus.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.datable.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.naming.attributes"/>
    <optional>
      <attribute name="scheme">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the classification system or taxonomy in use.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="code">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies a status code defined within the
classification system or taxonomy defined by the source
attribute.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="surname">
    <element name="surname">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(surname) contains a family (inherited) name, as opposed to a given,
baptismal, or nick name.</a:documentation>
      <ref name="surname.content"/>
      <ref name="surname.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="surname.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="surname.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.personal.attributes"/>
    <empty/>
  </define>
<!--3. macros-->
</rng:grammar>
