configuration_files_for_text_editors/emacs_configuration_files/.emacs.d/easymacs/TEI/p5-schema/spoken.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<!--Schema generated 2007-03-13T16:02:29Z..
Copyright 2005 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
To contact the TEI Consortium use the following addresses.
	    For general (non-technical) enquiries: 
		  target="mailto:info@tei-c.org"/>info@tei-c.orgFor membership enquiries: membership@tei-c.orgFor technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C: editors@tei-c.orgFor up to date information, consult the TEI web site at http://www.tei-c.org/P5Transcribed Speech-->
<!--Definitions from module spoken-->
<!--Set global predeclared macros-->
<!--Set predeclared macros-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="mix.spoken" combine="choice">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="model.divPart.spoken"/>
  </define>
<!--0. predeclared macros-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="mix.spoken" combine="choice">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="model.divPart.spoken"/>
  </define>
<!--1. classes-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.spoken">
    <choice>
      <ref name="u"/>
      <ref name="pause"/>
      <ref name="vocal"/>
      <ref name="kinesic"/>
      <ref name="event"/>
      <ref name="writing"/>
      <ref name="shift"/>
    </choice>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.spoken_sequence">
    <ref name="u"/>
    <ref name="pause"/>
    <ref name="vocal"/>
    <ref name="kinesic"/>
    <ref name="event"/>
    <ref name="writing"/>
    <ref name="shift"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.spoken_sequenceOptional">
    <optional>
      <ref name="u"/>
    </optional>
    <optional>
      <ref name="pause"/>
    </optional>
    <optional>
      <ref name="vocal"/>
    </optional>
    <optional>
      <ref name="kinesic"/>
    </optional>
    <optional>
      <ref name="event"/>
    </optional>
    <optional>
      <ref name="writing"/>
    </optional>
    <optional>
      <ref name="shift"/>
    </optional>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.spoken_sequenceOptionalRepeatable">
    <zeroOrMore>
      <ref name="u"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="pause"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="vocal"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="kinesic"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="event"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="writing"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="shift"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="model.divPart.spoken_sequenceRepeatable">
    <oneOrMore>
      <ref name="u"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="pause"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="vocal"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="kinesic"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="event"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="writing"/>
    </oneOrMore>
    <oneOrMore>
      <ref name="shift"/>
    </oneOrMore>
  </define>
<!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="event">
    <element name="event">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">any phenomenon or occurrence, not necessarily vocalized or
communicative, for example incidental noises or other events affecting
communication.</a:documentation>
      <ref name="event.content"/>
      <ref name="event.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="event.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.glossSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="event.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.timed.attributes"/>
    <ref name="att.ascribed.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="iterated" a1:defaultValue="false">
        <a1:documentation>indicates whether or not the phenomenon is repeated.</a1:documentation>
        <choice>
          <value>true</value>
          <a1:documentation>(the phenomenon is repeated. ) </a1:documentation>
          <value>false</value>
          <a1:documentation>(the phenomenon is atomic. ) </a1:documentation>
          <value>unknown</value>
          <a1:documentation>(unknown or unmarked.) </a1:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="kinesic">
    <element name="kinesic">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Non-vocalized quasi-lexical) any communicative phenomenon, not necessarily vocalized, for
example a gesture, frown, etc.</a:documentation>
      <ref name="kinesic.content"/>
      <ref name="kinesic.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="kinesic.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.glossSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="kinesic.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.timed.attributes"/>
    <ref name="att.ascribed.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="iterated" a1:defaultValue="false">
        <a1:documentation>indicates
whether or not the phenomenon is repeated.</a1:documentation>
        <choice>
          <value>true</value>
          <a1:documentation>(the phenomenon is repeated.
    ) </a1:documentation>
          <value>false</value>
          <a1:documentation>(the phenomenon is atomic.
    ) </a1:documentation>
          <value>unknown</value>
          <a1:documentation>(unknown or unmarked.
    ) </a1:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pause">
    <element name="pause">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a pause either between or within utterances.</a:documentation>
      <ref name="pause.content"/>
      <ref name="pause.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pause.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="pause.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.timed.attributes"/>
    <ref name="att.typed.attributes"/>
    <ref name="att.ascribed.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="shift">
    <element name="shift">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">marks the point at which some paralinguistic feature of a series of
utterances by any one speaker changes.</a:documentation>
      <ref name="shift.content"/>
      <ref name="shift.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="shift.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="shift.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="feature">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">a
paralinguistic feature.</a:documentation>
        <choice>
          <value>tempo</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(speed of utterance.
    ) </a:documentation>
          <value>loud</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(loudness.
    ) </a:documentation>
          <value>pitch</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(pitch range.
    ) </a:documentation>
          <value>tension</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(tension or stress pattern.
    ) </a:documentation>
          <value>rhythm</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(rhythmic qualities.
    ) </a:documentation>
          <value>voice</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(voice quality.
    ) </a:documentation>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="new" a1:defaultValue="normal">
        <a1:documentation>specifies the new state of the paralinguistic feature specified.</a1:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="u">
    <element name="u">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(utterance) a stretch of speech usually preceded and followed by
silence or by a change of speaker.</a:documentation>
      <ref name="u.content"/>
      <ref name="u.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="u.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:choice>
        <rng:text/>
        <rng:ref name="model.gLike"/>
        <rng:ref name="model.phrase"/>
        <rng:ref name="model.divPart.spoken"/>
        <rng:ref name="model.global"/>
      </rng:choice>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="u.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.timed.attributes"/>
    <ref name="att.declaring.attributes"/>
    <ref name="att.ascribed.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="trans" a1:defaultValue="smooth">
        <a1:documentation>indicates the nature of the transition between this utterance
          and the previous one.</a1:documentation>
        <choice>
          <value>smooth</value>
          <a1:documentation>(this  utterance begins without unusual pause or rapidity.) </a1:documentation>
          <value>latching</value>
          <a1:documentation>(this utterance begins with a markedly shorter pause than normal.) </a1:documentation>
          <value>overlap</value>
          <a1:documentation>(this utterance begins before the previous one has finished.) </a1:documentation>
          <value>pause</value>
          <a1:documentation>(this utterance begins after a noticeable pause.) </a1:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="vocal">
    <element name="vocal">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Vocalized semi-lexical) any vocalized but not necessarily lexical phenomenon, for example
voiced pauses, non-lexical backchannels, etc.</a:documentation>
      <ref name="vocal.content"/>
      <ref name="vocal.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="vocal.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.glossSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="vocal.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.timed.attributes"/>
    <ref name="att.ascribed.attributes"/>
    <optional>
      <attribute xmlns:a1="http://relaxng.org/ns/compatibility/annotations/1.0" xmlns="http://relaxng.org/ns/structure/1.0" name="iterated" a1:defaultValue="false">
        <a1:documentation>indicates whether or not the phenomenon is repeated.</a1:documentation>
        <choice>
          <value>true</value>
          <a1:documentation>(the phenomenon is repeated.
    ) </a1:documentation>
          <value>false</value>
          <a1:documentation>(the phenomenon is atomic.
    ) </a1:documentation>
          <value>unknown</value>
          <a1:documentation>(unknown or unmarked.
   ) </a1:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="writing">
    <element name="writing">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(Writing) a passage of written text revealed to participants in the course
of a spoken text.</a:documentation>
      <ref name="writing.content"/>
      <ref name="writing.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="writing.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="writing.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.ascribed.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the kind of writing in some way, for example
      as a subtitle, noticeboard etc.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="script">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">points to a bibliographic citation in the header giving
      a full description of the source or script of the writing.</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="gradual">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates whether the writing is revealed all at once or
        gradually.</a:documentation>
        <choice>
          <value>true</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(the writing is revealed gradually.) </a:documentation>
          <value>false</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(the writing is revealed all at once.) </a:documentation>
          <value>unknown</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(unknown or unmarked.) </a:documentation>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
<!--3. macros-->
</rng:grammar>
