configuration_files_for_text_editors/emacs_configuration_files/.emacs.d/easymacs/TEI/p5-schema/transcr.rng

<?xml version="1.0"?>
<rng:grammar xmlns:rng="http://relaxng.org/ns/structure/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
<!--Schema generated 2007-03-13T16:02:29Z..
Copyright 2005 TEI Consortium.
This is free software; you can redistribute it and/or
	    modify it under the terms of the GNU General Public
	    License as published by the Free Software Foundation;
	    either version 2 of the License, or (at your option) any
	    later version.
This material is distributed in the hope that it will be
	    useful, but WITHOUT ANY WARRANTY; without even the implied
	    warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR
	    PURPOSE. See the GNU General Public License for more
	    details.
You should have received a copy of the GNU General Public
	    License along with this file; if not, write to the Free
	    Software Foundation, Inc., 59 Temple Place, Suite 330,
	    Boston, MA 02111-1307, USA.
To contact the TEI Consortium use the following addresses.
	    For general (non-technical) enquiries: 
		  target="mailto:info@tei-c.org"/>info@tei-c.orgFor membership enquiries: membership@tei-c.orgFor technical enquiries, particularly about the
		Guidelines, DTDs, schemas, or software available from
		the TEI-C: editors@tei-c.orgFor up to date information, consult the TEI web site at http://www.tei-c.org/P5Transcription of primary sources-->
<!--Definitions from module transcr-->
<!--Set global predeclared macros-->
<!--Set predeclared macros-->
<!--0. predeclared macros-->
<!--1. classes-->
<!--2. elements-->
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="addSpan">
    <element name="addSpan">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(added span of text) marks the beginning of a longer sequence of text added by an
  author, scribe, annotator or corrector (see also add).</a:documentation>
      <ref name="addSpan.content"/>
      <ref name="addSpan.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="addSpan.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="addSpan.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.authorialIntervention.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.placement.attributes"/>
    <ref name="att.spanning.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="damage">
    <element name="damage">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains an area of damage to the text witness.</a:documentation>
      <ref name="damage.content"/>
      <ref name="damage.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="damage.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="damage.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the damage according to any convenient typology.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="extent">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates approximately how much text is in the damaged area,
in letters, minims, inches, or any appropriate unit, where this
cannot be deduced from the contents of the tag.  For example, the
damage may span structural divisions in the text so that the tag must
then be empty of content.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="hand">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">In the case of damage (deliberate defacement, etc.) assignable
to an identifiable hand, signifies the hand responsible for the
damage.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="agent">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">categorizes the cause of the damage, if it can be identified.
Sample values include: 1] rubbing (damage results from rubbing of the
  leaf edges); 2] mildew (damage results from mildew on the leaf surface); 3] smoke (damage results from smoke)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="degree">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">Signifies the degree of damage according to a convenient scale.
The damage tag with the degree attribute should
only be used where the text may be read with some confidence; text
supplied from other sources should be tagged as supplied.</a:documentation>
        <choice>
          <ref name="data.probability"/>
          <ref name="data.certainty"/>
        </choice>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="delSpan">
    <element name="delSpan">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(deleted span of text) marks the beginning of a longer sequence of text deleted,
marked as deleted, or otherwise signaled as superfluous or spurious by an
author, scribe, annotator, or corrector.</a:documentation>
      <ref name="delSpan.content"/>
      <ref name="delSpan.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="delSpan.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="delSpan.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <ref name="att.authorialIntervention.attributes"/>
    <ref name="att.spanning.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="fw">
    <element name="fw">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(forme work) contains a running head (e.g. a header, footer), catchword, or
  similar material appearing on the current page.</a:documentation>
      <ref name="fw.content"/>
      <ref name="fw.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="fw.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.phraseSeq"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="fw.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.placement.attributes"/>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">classifies the material encoded according to some useful typology.
Sample values include: 1] header (a running title at the top of the page); 2] footer (a running title at the bottom of the page); 3] pag (a page number or foliation symbol); 4] sig (a signature or gathering symbol); 5] catch (a catch-word)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="hand">
    <element name="hand">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">used in the header to define each distinct scribe or
handwriting style.</a:documentation>
      <ref name="hand.content"/>
      <ref name="hand.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="hand.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="hand.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="scribe">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">gives the name of,or other identifier for, the scribe.</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="style">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates recognized writing styles.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="mainLang">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates dominant language of hand.</a:documentation>
        <ref name="data.language"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="ink">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes tint or type
of ink, e.g. brown.  May also be used to indicate the writing medium, e.g. pencil</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="writing">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes other characteristics of the hand,
particularly those related to the quality of the writing.
Sample values include: 1] shaky (handwriting is shaky); 2] thick (strokes are unusually thick); 3] regular (writing is regular)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="first">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates whether or
not this is the first or main scribe of the document.</a:documentation>
        <ref name="data.truthValue"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="resp">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the editor or transcriber responsible for identifying
the hand.</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="handList">
    <element name="handList">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">contains a series of hand elements listing the
different hands of the source.</a:documentation>
      <ref name="handList.content"/>
      <ref name="handList.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="handList.content">
    <zeroOrMore xmlns:rng="http://relaxng.org/ns/structure/1.0">
      <rng:ref name="hand"/>
    </zeroOrMore>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="handList.attributes">
    <ref name="att.global.attributes"/>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="handShift">
    <element name="handShift">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">marks the beginning of a sequence of text written in a new
hand, or of a change in the scribe, writing style, ink or character
of the document hand.</a:documentation>
      <ref name="handShift.content"/>
      <ref name="handShift.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="handShift.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="handShift.attributes">
    <ref name="att.global.attributes"/>
    <attribute name="new">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the new hand.</a:documentation>
      <ref name="data.code"/>
    </attribute>
    <optional>
      <attribute name="old">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">identifies the old hand.</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="style">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates recognized
writing styles.</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="ink">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes tint or type
of ink, e.g. brown.  May also be used to indicate the writing medium, e.g. pencil</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="writing">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">describes other characteristics of the hand,
particularly those related to the quality of the writing.
Sample values include: 1] shaky (handwriting is shaky); 2] thick (strokes are unusually thick); 3] regular (writing is regular)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="resp">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signifies the editor or transcriber responsible for identifying
the change of hand.</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="restore">
    <element name="restore">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates restoration of text to an earlier state by
cancellation of an editorial or authorial marking or instruction.</a:documentation>
      <ref name="restore.content"/>
      <ref name="restore.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="restore.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="restore.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <optional>
      <attribute name="means">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">characterizes  the means of restoration.</a:documentation>
        <ref name="data.code"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="type">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the action cancelled by the restoration.</a:documentation>
        <ref name="data.name"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="hand">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signifies the hand of the agent which made the restoration.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="space">
    <element name="space">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the location of a significant space in the copy text.</a:documentation>
      <ref name="space.content"/>
      <ref name="space.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="space.content">
    <empty xmlns:rng="http://relaxng.org/ns/structure/1.0"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="space.attributes">
    <ref name="att.global.attributes"/>
    <optional>
      <attribute name="dim">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates whether the space is horizontal or vertical.</a:documentation>
        <choice>
          <value>horizontal</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(the space is horizontal.) </a:documentation>
          <value>vertical</value>
          <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">(the space is vertical.) </a:documentation>
        </choice>
      </attribute>
    </optional>
    <optional>
      <attribute name="extent">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates approximately how large the space is, in letters,
minims, inches, or other appropriate unit.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="resp">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates the individual responsible for identifying and measuring
the space.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
    <empty/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="supplied">
    <element name="supplied">
      <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">signifies text supplied by the transcriber or editor in place
of text which cannot be read, either because of physical damage or
loss in the original or because it is illegible for any
reason.</a:documentation>
      <ref name="supplied.content"/>
      <ref name="supplied.attributes"/>
    </element>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="supplied.content">
    <ref xmlns:rng="http://relaxng.org/ns/structure/1.0" name="macro.paraContent"/>
  </define>
  <define xmlns="http://relaxng.org/ns/structure/1.0" name="supplied.attributes">
    <ref name="att.global.attributes"/>
    <ref name="att.editLike.attributes"/>
    <optional>
      <attribute name="reason">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">indicates why the text has had to be supplied.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <optional>
      <attribute name="hand">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">where the presumed loss of text leading to the supplying of
text arises from action (partial deletion, etc.) assignable to an
identifiable hand, signifies the hand responsible for the action.</a:documentation>
        <ref name="data.pointer"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="agent">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">In the case of text which has been supplied  because of damage, categorizes the cause of the damage, if it can be identified.
Sample values include: 1] rubbing (damage results from rubbing of the
  leaf edges); 2] mildew (damage results from mildew on the leaf surface); 3] smoke (damage results from smoke)</a:documentation>
        <ref name="data.enumerated"/>
      </attribute>
    </optional>
    <optional>
      <attribute name="source">
        <a:documentation xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">states the source of the supplied text.</a:documentation>
        <list>
          <oneOrMore>
            <ref name="data.word"/>
          </oneOrMore>
        </list>
      </attribute>
    </optional>
    <empty/>
  </define>
<!--3. macros-->
</rng:grammar>
